*{
  margin: 0;
  padding: 0;
}

.main{
  color: #926239;
  height: 100vh;
  background-image: url('demo.jpg');
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 60px;
  font-weight: bold;
}
.main-text p{
  padding-bottom: 15px;
}
.main{
  padding: 40px;
  text-align: center;
}
button{
  padding: 10px;
  border: 1px solid #926239;
  background: transparent;
  color: #926239;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.part-1, .part-2{
  padding: 40px;
  text-align: center;
}

.part-1 {
  background-color: #926239;
  color: white;
}
.part-2 {
  background-color: white;
  color: #926239;
}
.part-3 {
  display: flex;
  justify-content: center;
}
.son-2{
  padding: 20px;
  background-color: white;
  color: #926239;
  width: calc(100%/3);
}
.son-3, .son-1{
    
  width: calc(100%/3);
  padding: 20px;
  background-color: #926239;
  color: white;
}