{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    <link rel="stylesheet" href="{% static 'student/style.css' %}">
</head>
<body>
    <h1>Student List</h1>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>gpa</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ students.0.id }}</td>
                <td>{{ students.0.name }}</td>
                <td>{{ students.0.gpa }}</td>
            </tr>
            <tr>
                <td>{{ students.1.id }}</td>
                <td>{{ students.1.name }}</td>
                <td>{{ students.1.gpa }}</td>
            </tr>
            <tr>
                <td>{{ students.2.id }}</td>
                <td>{{ students.2.name }}</td>
                <td>{{ students.2.gpa }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
