{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    <link rel="stylesheet" href="{% static 'student/style.css' %}">
</head>
<body>
    <h1>Student List</h1>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>gpa</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.id }} </td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.gpa }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
