body{
    margin: 30px;
    background: #eeeeee;
    font-family: Arial, sans-serif;
}

h1{
    color: black;
    width: 180px;
    margin: 10px auto;
}

.register,.data{
    background: white;
    padding: 20px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    margin-bottom: 30px;
}

input,select{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: border 1s;
    -webkit-transition: border 1s;
    -moz-transition: border 1s;
    -ms-transition: border 1s;
    -o-transition: border 1s;
}

input:focus,select:focus{
    border-color: black;
    outline: none;
}

input.error, select.error{
    border-color: red;
    background-color: #fdeded;
}

button{
    padding: 15px;
    color: white;
    background-color: blue;
    border-radius: 6px;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    cursor: pointer;
}
button:nth-of-type(1){
    margin-bottom: 10px;
}

button:hover{
    background-color: pink;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th,td{
    padding: 10px;
    text-align: center;
}
th{
    background-color: blue;
    color: white;
    margin: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
table{
    border-collapse: separate;
    border-spacing: 10px 10px;
}
p{
    display: inline-block;
    margin: 10px;
    color: #c6c0c0;
    font-size: 13px;
}
footer{
    text-align: center;
    margin-top: 20px;
}