img{
    width: 100px;
    display: block;
    margin: 10px auto;
}

h1, strong, h2{
    color: red;
}

li ul{
    color: red;
}
.location{
    color: blue;
    border: 1px solid black;
}

label{
    color: blue;
}
#twitter{
    color: red;
}

td.location + td {
    color: red;
    border: 1px solid black;
}